footer.contacts
  div.contacts__info
    div.contacts__info__item
      img(src="../static/location.svg", alt="location")
      span Kiev
    div.contacts__info__item
      img(src="../static/phone.svg", alt="Don't call me")
      span +380934786191
    div.contacts__info__item
      img(src="../static/mail.svg", alt="email")
      span skolzinn@gmail.com
  p.contacts__about-me Love sneakers, tech wear. Hate aggression. Love my cat Mao.